
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Segoue; /* Имя шрифта */
    src: url(../fonts/Segoe_Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSans-Bold; /* Имя шрифта */
    src: url(../fonts/OpenSans-Bold.ttf); /* Путь к файлу со шрифтом */

}

@font-face {
    font-family: OpenSans-Regular; /* font-family: OpenSans-Regular; Имя шрифта */
    src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
}

.header-wrapper{
    background: black;
    border-bottom: 2px solid white;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.header-body  .menu-part{
    width: 83%;
}

.bg-first_1001 {
    width: 1000px; height: 700px;
    background: url('../images/css_sprites.png') -10px -2630px;
}


.bg-second_1001 {
    width: 1000px; height: 700px;
    background: url('../images/css_sprites.png') -1950px -1530px;
}
.bg-XuNHbjD1 {
    width: 530px; height: 659px;
    background: url('../images/css_sprites.png') -2970px -1530px;
    position: sticky;
}
.header-body  .buttons-block{
    width: 17%;
}

.launch-video{
    display: flex;
    align-items: center;
    margin-right: 35px;
    justify-content: flex-end;
    position: absolute;
    bottom: 30px;
    right: 0;
}

.credit-items{
    display:flex;
}

.left-park{
    width: 50%;
}
.right-park{
    width: 50%;
}
.header-body{
    display: flex;
    font-family: 'OpenSans-Regular';
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttons-block{
    text-align: right;
}

.menu-list .menu-item .link{
    font-size: 25px;
    color: white;
    margin-left: 80px;
    padding: 2px 8px;
    text-decoration: none;
}

.menu-list .menu-item .link:hover{
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 10px;

}

.menu-list .menu-item:first-child .link{
    margin-left: 0;
}

.mobile-btn{
    display: none;
}

.menu-part{
    text-align: center;
}

.mobile-btn{
    cursor: pointer;
}

.menu-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.btn-join {
    color: #007DB9;
    background: white;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    border: 2px solid #007DB9;
    padding: 12px 20px 15px 20px;
}

.btn-join, .btn-login {
    font-family: OpenSans-Regular;
    font-size: 25px;
}

.join-p {
    margin-top: 10px;
}

.btn-login {
    border: 2px solid black;
    background: #A6FF4D;
    color: #95989A;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    padding: 12px 20px 15px 20px;
    margin-left: 30px;
    border: 2px solid #4F7B23;
}

.top-menu {
    background: black;
}

.Join-now {
    background: #FFFFFF;
}

.Login {
    color: #A6FF4D;
}

.Repobank-wrapper {
    background: black;
    height: 100vh;
}

.Repobank-wrapper .image img{
    width: 800px;
    margin-top: 150px;
}

.text-h1-p{
    color:white;
    margin-left: 180px;
    text-align: left;
}

.text-h1 {
     font-size: 80px;
     font-family: OpenSans-Bold;
     margin-top: 300px;
     text-align: left;
 }

.text-p{
    font-size: 80px;
    font-family: OpenSans-Bold;
    margin-top: 40px;
}

.Launch-p {
    font-size: 40px;
    color:white;
    margin-right: 20px;
}

/* Instant_Crypto_Overdrafts */
.Instant_Crypto_Overdrafts{
    padding: 80px 0 70px;
    color: #182140;
    background: linear-gradient(to bottom, #f9f9f9, #c8c8c8);
    font-family: OpenSans-Regular;
}

.Instant_Crypto_Overdrafts .modal-content{
    padding: 0 !important;
}

.Instant_Crypto_Overdrafts h2{
    padding-bottom: 30px;
    font-size: 60px;    
}

.h2-text, .description-p {
    text-align: center;
    font-size: 24px;
}

.Instant_Crypto_Overdrafts .description-p{
    line-height: 1.5;
}

.Instant_Crypto_Overdrafts_full_img{
    padding-bottom: 50px;
}

.Macbook {
    width: 100%;
    height: 100%;
}

.subscribe_items {
    display: flex;
    width: 100%;
    padding-bottom: 50px;
}

.subscribe_items .row{
    width: 100%;
}

.subscribe {
    width: 100%;
    height: 100%;
}

.icon_items{
    padding: 30px 15px;
}

.icon_items p{
    padding-top: 25px;
    color: #808080;
    line-height: 1.2;
    font-weight: 400;
    font-size: 24px;
}

.icon_items:hover p{
    color: #182140;
}

.icon_items:hover {
    background: white;
    border-bottom: 2px solid #182140;
    padding: 30px 15px 28px;
    cursor: pointer;
}

.h2-choose {
    text-align: center;
}

.overdraft_panel{
    display: flex;
    justify-content: center;
}

.overdraft_panel h2{
    font-size: 36px;
}

.overdraft_panel input{
    padding: 12px 90px 12px 50px;
    border-radius: 50px;
    background: #fff;
    border: none;
    font-size: 36px;
    font-family: OpenSans-Regular;
}

.overdraft_panel select{
    padding: 12px 90px 12px 50px;
    border-radius: 50px;
    background: #fff;
    border: none;
    font-size: 36px;
    font-family: OpenSans-Regular;
    width: 100%;

    /*-webkit-appearance: none;*/
    /*-moz-appearance: none;*/
    /*appearance: none;*/

    /*-webkit-appearance: searchfield;*/
}

.overdraft_panel select::-ms-expand {
  display: none;
}

.overdraft_panel .new_crypto_overdraft {
    /*display: none;*/
}

.overdraft_panel input:hover,
.overdraft_panel input:focus,
.overdraft_panel input:active{
    outline: 0;
    outline-offset: 0;
}

.overdraft_panel .new_crypto_overdraft {
    position: absolute;
    left: 392px;
    top: 77px;
    font-size: 24px;
    font-weight: 500;
    padding: 20px 50px;
    background: linear-gradient(to right, #626262, #131313);
    border: none;
    border-radius: 50px;
    color: #fff;
    transition-duration: .2s;
}

.overdraft_panel .new_crypto_overdraft:hover{
    background: linear-gradient(to left, #626262, #131313);
    transition-duration: .2s;
}

.overdraft_panel .new_crypto_overdraft:active{
    background: #111111;
    box-shadow: 0 0 7px 3px rgba(17, 17, 17, 0.8);
    transition-duration: .2s;
}

.overdraft_panel .new_crypto_overdraft:hover,
.overdraft_panel .new_crypto_overdraft:focus,
.overdraft_panel .new_crypto_overdraft:active{
    outline: 0;
    outline-offset: 0;
}

.row.overdraft_panel{
    font-family: OpenSans-Bold;
}

.Instant_Crypto_Overdrafts .modal-dialog{
    max-width: 75%;
}

.Instant_Crypto_Overdrafts .modal .modal-header{
    display: block;
    border-bottom: none;
    padding: 20px 0;
}

.Instant_Crypto_Overdrafts .modal h3{
    padding-bottom: 10px;
}

.Instant_Crypto_Overdrafts .modal p{
    line-height: 1.2;
}

.Instant_Crypto_Overdrafts .modal .modal-header button{
    position: absolute;
    right: 15px;
    top: 5px;
}

.modal .modal-header button:focus,
.modal .modal-header button:active{
    outline: 0;
    outline-offset: 0;
}

.Instant_Crypto_Overdrafts .modal .modal-header span{
    color: #57b3e1;
    font-size: 36px;
}

.Instant_Crypto_Overdrafts .modal .modal-body,
.Instant_Crypto_Overdrafts .modal .modal-footer{
    background: #f5f5f5;
    padding-right: 30px;
    padding-left: 30px;
}

.Instant_Crypto_Overdrafts .modal .modal-body{
    padding-top: 5px;
}

.Instant_Crypto_Overdrafts .modal_stage{
    color: #60b9e5;
    text-align: left;
}

.Instant_Crypto_Overdrafts .modal_stage_title{
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}

.Instant_Crypto_Overdrafts .modal_stage_description{
    font-size: 16px;
    font-weight: 500;
}

.Instant_Crypto_Overdrafts .input_comparison{
    padding: 30px 0;
}

.Instant_Crypto_Overdrafts .input_comparison input{
    padding: 12px 30px 12px 30px;
    width: 90%;
    text-align: center;
}

.Instant_Crypto_Overdrafts .span_i{
    display: flex;
    justify-content: center;
    align-self: center;
}

.Instant_Crypto_Overdrafts .input_comparison input:focus,
.Instant_Crypto_Overdrafts .input_comparison input:active{
    outline: 0;
    outline-offset: 0;
}

.Instant_Crypto_Overdrafts .input_comparison .comparison{
    color: #67bee9;
}

.Instant_Crypto_Overdrafts .input_comparison .comparison::-webkit-input-placeholder{
    color: #67bee9;
}

.Instant_Crypto_Overdrafts .input_comparison span{
    padding: 0 20px;
    font-size: 32px;
}

.Instant_Crypto_Overdrafts .img_comparison{
    display: flex;
    justify-content: center;
}

.Instant_Crypto_Overdrafts .img_comparison .img_comparison_width{
    display: flex;
    justify-content: center;
}

.img_comparison_width .row{
    width: 100%;
}

.Instant_Crypto_Overdrafts .img_comparison_width{
    width: 80%;
}

.Instant_Crypto_Overdrafts .img_item{

}

.Instant_Crypto_Overdrafts .img_item .it_is_text{
    display: flex;
    justify-content: center;
}

.Instant_Crypto_Overdrafts .img_item .it_is_text p{
    align-self: center;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    line-height: 1.1;
}

.Instant_Crypto_Overdrafts .img_item .img_item_bg{
    background: linear-gradient(to right, #05203e, #52657a);
    border-radius: 15px;
    height: 102px;
}

.Instant_Crypto_Overdrafts .img_item:hover .img_item_bg{
    background: linear-gradient(to right, #2ba2dc, #165573);
    transition-duration: .2s;
}

.Instant_Crypto_Overdrafts .img_comparison img{
    height: 100px;
    width: auto;
    padding: 15px 0;
}

.Instant_Crypto_Overdrafts .img_item > p{
    padding-top: 15px;
    font-size: 18px;
}

.Instant_Crypto_Overdrafts .img_item:hover > p{
    color: #56b5e4;
}

.Instant_Crypto_Overdrafts .modal .modal-footer{
    border-top: none;
    justify-content: center;
}

.Instant_Crypto_Overdrafts .modal .modal-footer button{
    border-radius: 50px;
    height: 50px;
    background: linear-gradient(to right, #2ca5e0, #2c5e76);
    width: 20%;
    font-size: 16px;
    font-weight: 500;
    border: none;
}

.Instant_Crypto_Overdrafts .modal .modal-footer button:hover{
    box-shadow: 0 0 10px 2px rgba(35, 130, 176,0.8);
}

.Instant_Crypto_Overdrafts .modal .modal_stage_prev{
    position: absolute;
    left: 15px;
    top: 10px;
}

.Instant_Crypto_Overdrafts .modal .modal_stage_prev span{
    font-size: 20px;
}

.modal_panel_2{
    padding-top: 40px;
}

.div_overdrafts_slider{
    padding-right: 0;
}

.overdrafts_slider h2{
    color: #43afe3;
    padding: 18px 0;
    font-size: 30px;
}

.overdrafts_slider h2{
    color: #43afe3;
    padding: 18px 0;
    font-size: 30px;
}

.overdrafts_slider .slick-center h2{
    font-weight: 600;
    font-size: 36px;
}

.overdrafts_slider .slick-track{
    padding-bottom: 15px;
}

.overdrafts_slider .slick-slide{
    margin-top: 3px;
}

.overdrafts_slider .slick-center{
    background: #fff;
    border-radius: 30px;
    font-weight: 500;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.2);
}

.overdrafts_slider .slick-dots{
    background: #d8edfc;
    border-radius: 20px;
    display: flex;
}

.overdrafts_slider .slick-dots li button:before{
    color: #d8edfc;

}

.overdrafts_slider .slick-dots .slick-active{
    display: inline-block;
}

.overdrafts_slider .slick-dots .slick-active button{
    background: #fff;
    font-size: 12px;
    border: 6px solid #2ca5e0;
    border-radius: 20px;
    transition-duration: .2s;
}

.overdrafts_slider .slick-dots .slick-active button:hover{
    box-shadow: 0px 0px 10px 0px #2ca5e0;
    transition-duration: .2s;
}

.overdrafts_slider .slick-dots .slick-active button:before{
    display: none;
    border-radius: 20px;
}

.overdrafts_slider .slick-arrow{
    display: none !important;
}

.Instant_Crypto_Overdrafts .overdrafts_slider div:focus,
.Instant_Crypto_Overdrafts .overdrafts_slider div:active{
    outline: 0;
    outline-offset: 0;
}

.Instant_Crypto_Overdrafts .div_overdrafts_total{
    padding-left: 45px;
}

.Instant_Crypto_Overdrafts .overdrafts_total{
    font-size: 16px;
    font-weight: 600;
    text-align: left;
    padding-bottom: 15px;
}

.Instant_Crypto_Overdrafts .tolal_bg{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.Instant_Crypto_Overdrafts .tolal_bg h2{
    padding: 20px 0 0;
    font-weight: 600;
    color: #51b5e5;
}

.Instant_Crypto_Overdrafts .tolal_bg p{
    color: #d8d8d8;
    padding-bottom: 12px;
}

.Instant_Crypto_Overdrafts .modal_3 .modal-footer{
    padding-top: 5px;
}

.Instant_Crypto_Overdrafts .modal_3 .modal-footer  button{
    width: 50%;
}

.Instant_Crypto_Overdrafts .modal_3 .modal_stage{
    padding-bottom: 10px;
}



.block_bg_right{
    display: flex;
    justify-content: flex-end;
}

.Instant_Crypto_Overdrafts .block_bg{
    background: #d4d4d4;
    border-radius: 30px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
}

.Instant_Crypto_Overdrafts .left_block, 
.Instant_Crypto_Overdrafts .right_block{
    background: #fff;
    width: 93%;
}

.Instant_Crypto_Overdrafts .left_block h3, 
.Instant_Crypto_Overdrafts .right_block h3{
    font-weight: 800;
    padding-top: 10px;
}

.Instant_Crypto_Overdrafts .left_block p, 
.Instant_Crypto_Overdrafts .right_block p{
    padding-bottom: 15px;
}

.Instant_Crypto_Overdrafts .left_block{
    color: #ee5b5b;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.Instant_Crypto_Overdrafts .left_block p{
    color: #f49494;
}

.Instant_Crypto_Overdrafts .right_block{
    color: #5ebae7;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.Instant_Crypto_Overdrafts .right_block p{
    color: #8dceee;
}

.Instant_Crypto_Overdrafts .block_bg_img, 
.Instant_Crypto_Overdrafts .block_bg_right_img{
    margin-top: 15px;
}

.Instant_Crypto_Overdrafts .block_bg_img .left_block{
    display: flex;
}

.Instant_Crypto_Overdrafts .block_bg_img p,
.Instant_Crypto_Overdrafts .block_bg_right p{
    color: #000000;
}

.block_bg_img_text_padding{
    padding: 21px 0;
}

.block_bg_img img{
    /*height: 100%;*/
    width: 100%;

    height: 115%;
    margin-top: -15px;
}

.Instant_Crypto_Overdrafts .block_bg .left_block_title,
.Instant_Crypto_Overdrafts .block_bg .left_block_title_2{
    padding-top: 15px;
    font-weight: 500;
    padding-bottom: 15px;
}

.Instant_Crypto_Overdrafts .block_bg .left_block_title_2{
    border-top: 3px solid #f0f1f1;
}

.block_bg_img .left_block > div:nth-child(1){
    padding-right: 0;
}

.block_bg_right_img .right_block{
    padding: 10px 5%;
}

.modal_3 .row{
    width: 100%;
}

.flex_center{
    display: flex;
    justify-content: space-around;
}

.top_line{
    width: 3px;
    height: 60px;
    margin-top: 35px;
    background: rgb(240, 241, 241);
}

.bot_line{
    width: 3px;
    height: 60px;
    margin-bottom: 35px;
    background: rgb(240, 241, 241);
}

.block_bg_right_img .bank_items_1 img{
    height: 57px;
}

.block_bg_right_img .bank_items_1 p:last-child{
    border-bottom: 3px solid #f0f1f1;
    padding-bottom: 10px;
}

.block_bg_right_img .bank_items_2{
    padding-top: 15px;
}

.block_bg_right_img .bank_items_2 p{
    border-bottom: 3px solid #f0f1f1;
    padding-bottom: 0;
    padding-top: 21px;
}

.block_bg_right_img .bank_items_2 img{
    height: 50px;
}

.block_bg_right_img .bank_items_3 p:nth-child(1){
    padding-top: 23px;
    color: #4ab2e4;
    font-size: 30px;
    letter-spacing: -2px;
    padding-bottom: 0;
    font-weight: 500;
}
.block_bg_right_img .bank_items_3 p:nth-child(2){
    padding-top: 0;
    line-height: 0.5;
}

.block_bg_right_img .bank_items_4 img{
    padding-top: 10px;
    height: 65px;
}



.Instant_Crypto_Overdrafts .modal_3 .modal-footer .btn-secondary{
    background: linear-gradient(to right, #fa4f44, #7e2822);
}

.Instant_Crypto_Overdrafts .modal_3 .modal-footer .btn-secondary:hover{
    box-shadow: 0 0 10px 1px rgba(184, 58, 50, 0.75);
}
/* Instant_Crypto_Overdrafts end */

/* foma subs */

section {
    text-align: center;
}

select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}

select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}

.free {
    text-transform: uppercase;
}

.input-group {
    margin: 20px auto;
    width: 100%;
}

input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button.btn {
    width: 30%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.promise {
    color: #999;
}

.btn-info {
    background: black;
    border-radius: 20px;
}

.btn-group-lg > .btn, .btn-lg {
    border-radius: 20px;
}

button .btn, button .btn-lg {
    border-radius: 20px;
}

.next-btn {
    border-radius: 20px;
}

/* foma subs */

/* section our vision */

.items-icons{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.bg-model img{
    width: 100%;
    height: 100%;
}

.spic-cof {
    width: 100px!important;
    height: 100px!important;
    border-radius:100%;
    font-size: 50px;
    color: #fff;
    opacity: 0.9;
    text-align: center;
    background: #2CA5E0;

}
.first-1001 img{
    width: 100%;
    height: 100%;
}

.h2-vision {
    color: white;

}

.Our-vision h2{
    font-size: 60px;
    font-family: 'OpenSans-Regular';

   padding-top: 90px;
}

.h2-vision p {
    font-family: 'OpenSans-Light';
    font-size: 30px;

    margin-top: 45px;
}


.h2-vision h2 {
    font-size: 60px;
    font-family: 'OpenSans-Regular';
}

.Our-vision {
    background: url("../images/bg-vision.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.description-out-img{
    margin-top: 100px;
}
.description-out-img p {
    font-size: 26px;
    font-family: 'OpenSans-Regular';
    color: white;
    line-height: 45px;
    padding-left: 10%;
    text-align: left;
}


.img-girl-phone img {
    width: 50%;
}

/* section our vision */

.Business-model {
    width: 100%;
    min-height: 1000px;
}

.btn-download {
    margin-bottom: 40px;
    border-radius: 50px;
    background: rgba(44, 165, 224, 1);
    background: -moz-linear-gradient(left, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(44, 165, 224, 1)), color-stop(5%, rgba(44, 165, 224, 1)), color-stop(19%, rgba(41, 155, 210, 1)), color-stop(48%, rgba(35, 133, 180, 1)), color-stop(100%, rgba(22, 83, 112, 1)));
    background: -webkit-linear-gradient(left, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    background: -o-linear-gradient(left, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    background: -ms-linear-gradient(left, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    background: linear-gradient(to right, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ca5e0', endColorstr='#165370', GradientType=1)
}
/*   Business model      */

.Business-model h2{
    font-family: 'OpenSans-Regular';
    font-size: 60px;
    margin-top: 90px;
    color:#182140;
}
.Business-model .dont {
    font-family: 'OpenSans-Light';
    font-size: 30px;
    color:#182140;
    margin-top: 45px;
}
.GET-BM {
    font-family: 'OpenSans-Regular';
    font-size:35px;
    font-weight: Bold;
    margin-top: 30px;
    margin-bottom: 40px;
}

.load {
    font-family: 'OpenSans-Regular';
    font-size: 50px;
    margin-top: 25px;
    display: block;
    color: white;
    height: 80px;
}
/* business model */

.features{
    display: flex;
}


/* Credit card*/
.Credit-card{
    min-height: 1200px;
    background: black;
}
.Credit-card h2{
    font-family: 'OpenSans-Regular';
    font-size: 60px;
    color: white;
    padding-top: 90px;
}

.text-card p{
    font-family: 'OpenSans-Light';
    font-size: 30px;
    color: white;
    margin-top: 45px;
    letter-spacing: 1px;
    margin-bottom: 60px;
}

.fa-coffee{

    width: 75px!important;
    height: 75px!important;
    color: white;
}

.features-p{
    font-size: 30px;
    font-family: 'OpenSans-Regular';
    margin-top: 15px;
    margin-left: 20px;
    color:#A4D7FB;

}
.features-2{
    text-align: left;
    margin-left: 80px;
}
.hr-features{

    color:#2CA5E0 ;
}
.description-fither{
    font-size: 23px;
    padding-bottom: 10px;
    color:white;
    font-family: 'OpenSans-Light';
}

/* Credit card*/

/* our_vision_slider */
.our_vision_slider{
    padding: 100px 0;
    background: url(../images/bg-vision.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    color: #fff;
    font-family: OpenSans-Regular;
}

.our_vision_slider .slick-slide{
    cursor: pointer;
}

.our_vision_slider h2{
    font-size: 60px;
}
.our_vision_slider a{
    text-decoration: none;
}

.our_vision_slider .container > p{
    padding-top: 30px;
    padding-bottom: 60px;
    font-size: 24px;
}

.our_vision_slider .circle_position{
    display: flex;
    justify-content: center;
}

.our_vision_slider .our_vision_slider_panel{
    padding-bottom: 40px;
}

.our_vision_slider .circle{
    padding: 26px 20px;
    border: 4px solid #2ca5e0;
    border-radius: 80px;
    margin-bottom: 25px;
    width: 159px;
}

.our_vision_slider .slick-active:hover .circle{
    border: none;
    border-radius: 80px;
    margin-bottom: 25px;
    width: 159px;
    height: 162px;
    background: linear-gradient(to bottom right, #ed5a51, #0c3c3d);

}

.roadmap .draggable{
    padding-left: 390px !important;
    height: 700px !important;
}

.our_vision_slider .slick-active:hover, .our_vision_slider .slick-active:focus, .our_vision_slider .slick-active:active{
    outline: 0;
    outline-offset: 0;
}

.our_vision_slider .our_vision_slider_panel h2{
    font-size: 65px;
    color: #2ca5e0;
    font-family: OpenSans-Bold;
}

.our_vision_slider .our_vision_slider_panel .slick-active:hover h2{
    color: #fff;
    line-height: 1.3;
}

.our_vision_slider .text_head, 
.our_vision_slider .text_signature{
    color: #6abfe9;
}

.our_vision_slider .text_head{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 0;
    line-height: 1.5;
    border-bottom: 3px solid #ecf7fe;
}

.our_vision_slider .slick-active:hover .text_head{
    color: #fc4f44;
    border-bottom: 3px solid #fed9d7;
}

.our_vision_slider .text_signature{
    font-size: 20px;
    padding: 0;
    padding-top: 10px;
    overflow: hidden;
    border-radius: 10px;
    height: 190px;
}

.our_vision_slider .slick-active:hover .text_signature{
    color: #fd877f;
    transition-duration: .2s;
}

.our_vision_slider_panel .slick-slide{
    background: #fff;
    border-radius: 15px;
    padding: 52px 22px 52px;
    margin-top: 50px;
    height: 525px;
    opacity: 0.9;
    /*transition-duration: .5s;*/
}

.our_vision_slider_panel .slick-center{
    opacity: 1;
    margin-top: 0;
    background: #fff;
    border-radius: 15px;
    padding: 102px 22px 52px;
    height: 635px;
    box-shadow: 0 0 15px 1px rgba(17, 17, 17, 0.4);
    /*transition-duration: .5s;*/
    position: relative;
    z-index: 5;
}

.our_vision_slider_panel .slick-slide:hover{
    border:  2px solid #f1918b;
    padding: 50px 20px 50px;
    transition-duration: .2s;
}

.our_vision_slider_panel .slick-center:hover{
    border:  2px solid #f1918b;
    padding: 100px 20px 50px;
    transition-duration: .2s;
}

.our_vision_slider_panel .slick-center .text_signature{
    height: 235px;
}

.our_vision_slider .slick-slide:hover .circle_signature{
    color: #fff;
    line-height: 0.9;
    transition-duration: .2s;
}

.our_vision_slider  .circle_signature{
    color: #6abfe9;
    font-size: 24px;
    font-weight: 500;
}

.our_vision_slider .slick-dots li{
    margin: 0 5px;
}

.our_vision_slider .slick-dots li button:before{
    font-size: 12px;
    color: #fc4f44;
}

.our_vision_slider .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fc4f44;
}

.button_position h3{
    font-size: 36px;
}

.button_position .row{
    width: 100%;
}

.our_vision_slider .button_position{
    display: flex;
    align-self: center;
    padding-top: 40px;
}

.our_vision_slider .button_position > div{
    align-self: center;
}

.our_vision_slider .button_position button{
    background: #fff;
    padding: 18px 70px;
    border-radius: 30px;
    color: #2ca5e0;
    border: none;
    font-weight: 500;
    transition-duration: .2s;
    font-size: 20px;
}

.our_vision_slider .button_position button:hover{
    background: linear-gradient(to bottom right, #ed5a51, #0c3c3d);
    color: #fff;
    transition-duration: .2s;
    box-shadow: 0 0 5px 1px rgba(184, 58, 50, 0.75);
}

.our_vision_slider .button_position i{
    font-size: 30px;
}

.our_vision_slider .slick-dots li{
    margin: 0 5px;
}

.our_vision_slider .slick-dots li button:before {
    line-height: 15px;
    width: 15px;
    height: 15px;
}

.our_vision_slider .slick-dots li button:before{
    font-size: 12px;
    color: transparent;
    background: transparent !important;
    border-radius: 15px;
    border: 3px solid #fc4f44;
}

.our_vision_slider .slick-dots li.slick-active button:before {
    background: #fc4f44 !important;
    color: #fc4f44;
}

.our_vision_slider img.slick-prev,
.our_vision_slider img.slick-next{
    width: 40px;
    height: auto;
    opacity: 0.8;
}

.our_vision_slider img.slick-prev:hover,
.our_vision_slider img.slick-next:hover{
    opacity: 1;
}

.our_vision_slider img.slick-next{
    right: -75px;
}

.our_vision_slider img.slick-prev{
    left: -75px;
}
/* our_vision_slider end */


/* Section whitepaper */
.whitepaper {
    background-image: url("../images/bg-vision.png");
    background-size: 100% 100%;
}

.wrapper-headings {
    padding: 60px 0;
}

.whitepaper h2 {
    font-family: OpenSans-Regular;
    font-size: 60px;
    color: #FFFFFF;
    line-height: 82px;
}

.whitepaper h5 {
    font-family: OpenSans-Light;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 41px;
}

.wrapper-block-whitepaper {
    padding: 0 10%;
}

.wrapper-block {
    padding: 0 70px 56px 70px;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    height: auto;
    border-radius: 10px;
}

.wrapper-image{
    padding: 20px 0 20px 0;
}

.wrapper-image img {
    width: 100%;
    /*height: 370px;*/
}

.whitepaper-info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    color: #182140;
}

.wrapper-block-transform {
    position: absolute;
    top: 0;
    right: -50px;
    height: 300px;
    width: 88px;
    background-color: #2CA0C8;
    border-radius: 0 0 43px 43px;
}

.wrapper-block-transform p{
    padding-left: 90px;
    font-size: 30px;
    color: white;
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.whitepaper-info .whitepaper-info-text {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.wrapper-download-block{
    border-top: 2px solid #182140;
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.wrapper-download-text{
    font-family: OpenSans-Regular;
    float: left;
    font-size: 30px;
}

.wrapper-download-button{
    font-family: OpenSans-Regular;
    float: right;
    padding: 10px 40px;
    background: linear-gradient(to right, #2CA0C8, #165370);
    color: white;
    border-radius: 32px;
}

.solutions{
    display: flex;
}

.accordion{
    width: 40%;
}

.header-solution,.header-roadmap{
    font-size: 60px;
    color: white;
    padding-top: 100px;
}

.text-solution,.roadmap-solution{
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.solutions{
    padding-top: 100px;
}

.accordion-road .btn-link{
    background: #CFE1F9;
    border-radius: 10px;
    width: auto!important;
}

#road-accordion-one .road-header{
    text-align: left!important;
}

#road-accordion-two .road-header{
    text-align: right!important;
}

.accordion-road .card{
    margin-bottom: 50px;
}

.accordion-road .btn-link a{
    border-bottom: 1.5px solid #182140;
    color: #182140;
    text-decoration: none;
    font-weight: bold;
}

.roadmap{
    display: flex;
}

.roadmap_slider{
    padding: 0 40px;
}

.accordion-road{
    width: 40%;
}

#accordion-one .solution-head{
    border-bottom: 1px solid #FC4F44;
    color: #FC4F44;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
    width: 55%;
    margin-right: auto;
}

#accordion-two .solution-head{
    border-bottom: 1px solid #A4D7FB;
    color: #A4D7FB;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 5px;
    width: 55%;
    margin-left: auto;
}

.card{
    background: transparent;
}

.card .btn-link{
    font-size: 20px;
    width: 100%;
    text-decoration: none;
    height: auto;
}

.accordion .solution-head{
    font-size: 35px;
    margin-bottom: 15px;
    padding-bottom: 2px;
}

#accordion-one .card .btn-link{
    text-align: left;
    color: #FC4F44;
    border-bottom: 1px solid #FC4F44;
    padding-left: 0;
    width: 75%;
}

#accordion-two .card .btn-link{
    text-align: right;
    color: #A4D7FB;
    border-bottom: 1px solid #A4D7FB;
    padding-right: 0;
    width: 75%;
}

#accordion-one .card-header{
    text-align: left;
}

#accordion-two .card-header{
    text-align: right;
}

.card-header{
    padding: 0;
}

.card-body .bottom-part{
    color: white;
    font-size: 
}

.card-body .bottom-part .text{
    padding-top: 20px;
    text-align: left;
    font-size: 22px;
    line-height: 30px;
}

.card-body .top-part .text{
    padding-left: 10px;
}

#accordion-one .card-body .top-part{
    color: #FC4F44;
    display: flex;
    font-size: 22px;
    align-items: center;
}

#accordion-two .card-body .top-part{
    color: #A4D7FB;
    display: flex;
    font-size: 22px;
    align-items: center;
}

#accordion-two .card-body .bottom-part .text{
    text-align: right;
}

#accordion-one .fa-times{
    border: 1px solid #FC4F44;
    padding: 10px;
    border-radius: 50px;
    font-size: 50px;
    width: 50px!important;
    height: 50px;
}

#accordion-two .fa-check{
    border: 1px solid #A4D7FB;
    padding: 10px;
    border-radius: 50px;
    font-size: 50px;
    width: 50px!important;
    height: 50px;
}

#accordion-one .card-body{
    padding-left: 0;
}

#accordion-two .card-body{
    padding-right: 0;
}


#our-solutions{
    background: url(../images/bg-vision.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: OpenSans-Regular; 
}

#road-map{
    background: url(../images/bg-vision.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    font-family: OpenSans-Regular;     
}

    .menu-list .menu-item .link{
        font-size: 22px;
        color: white;
        margin-left: 50px;
    }

    .btn-join, .btn-login {
        font-size: 20px;
        text-decoration: none;
    }

    .btn-join:hover, .btn-login:hover{
        text-decoration: none;
    }

    .btn-login:hover{
        color: #535455;
    }

    .btn-login {
        margin-left: 15px;
    }

    .header-body  .menu-part{
        width: 80%;
    }

    .header-body  .buttons-block{
        width: 20%;
    }

    .text-h1 {
        font-size: 65px;
    }

    .text-p{
        font-size: 22px;
    }

    .title-row{
        justify-content: space-between;
    }

    .solutions{
        padding-bottom: 100px;
    }

@media (min-width: 1700px){

    .menu-list .menu-item .link{
        font-size: 22px;
        color: white;
        margin-left: 50px;
    }

    .btn-join, .btn-login {
        font-size: 20px;
        text-decoration: none;
    }

    .btn-join:hover, .btn-login:hover{
        text-decoration: none;
    }

    .btn-login:hover{
        color: #535455;
    }

    .btn-login {
        margin-left: 15px;
    }

    .header-body  .menu-part{
        width: 80%;
    }

    .header-body  .buttons-block{
        width: 20%;
    }

    .text-h1 {
        font-size: 60px;
    }

    .text-p{
        font-size: 30px;
    }
}

@media (max-width: 1500px){

    .menu-list .menu-item .link{
        font-size: 20px;
        color: white;
        margin-left: 50px;
    }

    .btn-login {
        margin-left: 15px;
    }

    .Repobank-wrapper .image img {
        width: 700px;
    }

    .roadmap .draggable {
        padding-left: 150px !important;
    }

    .roadmap_slider {
        padding: 0px 15px;
    }
}

@media (max-width: 1400px){

    .menu-list .menu-item .link{
        font-size: 19px;
        color: white;
        margin-left: 40px;
    }

    .btn-login {
        margin-left: 15px;
    }

    .Repobank-wrapper .image img {
        width: 600px;
    }

}

@media (max-width: 1300px){

    .menu-list .menu-item .link{
        font-size: 18px;
        color: white;
        margin-left: 30px;
    }

    .text-h1 {
        margin-top: 170px;
    }

    .btn-join, .btn-login {
        font-size: 16px;
        padding: 8px 15px 10px 15px;
    }

    .btn-login {
        margin-left: 15px;
    }

    .text-h1-p{
        margin-left: 100px;
    }

    .Launch-p {
        font-size: 30px;
    }

    .launch-video img{
        width: 80%;
    }

    .Repobank-wrapper .image img {
        width: 550px;
    }

    .title-row{
        flex-wrap: nowrap;
    }
}

@media (max-width: 1200px){
    .roadmap .draggable {
        padding-left: 360px !important;
    }
}

@media (max-width: 1050px){
    .header-body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .text-h1-p{
        margin-left: 80px;
    }

    .menu-list .menu-item .link {
        margin-left: 16px;
        font-size: 16px;
    }

    .header-body  .menu-part{
        width: 78%;
    }

    .header-body  .buttons-block{
        width: 22%;
    }

    .fa-bars{
        color: white;
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    .wrapper-download-block{
        flex-direction: column;
    }

    .wrapper-download-block{
        border-top: none;
        padding-top: 30px;
    }

    .wrapper-download-all-button{
        margin-top: 30px;
    }

    .wrapper-download-button{
        margin: 0 auto;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        padding: 20px 40px;
    }

    .bg-second_1001{

    }
    .menu-list{
        flex-direction: column;
        position: relative;
        margin-top: 60px;
    }

    .card .btn-link{
        width: 100%!important;
    }

    .solutions-block {
        max-width: 95%!important;
    }

    .solutions .image-block img {
        width: 90%!important;
    }

    .solutions-block{
        max-width: 90%;
    }

    .text-h1-p{
        margin-left: 50px;
    }

    .text-h1 {
        font-size: 45px;
    }

    .text-p{
        font-size: 20px;
    }

    .mobile-btn{
        display: block;
    }

    .menu-list .menu-item .link{
        margin: 0;
        font-size: 24px;
    }

    .header-body .menu-part {
        width: auto;
    }

    .header-body{
        justify-content: center;
    }

    .menu-item{
        padding: 10px;
        padding-left: 0;
    }

    .hider{
        display: none;
    }

    .header-body .menu-part {
        width: 0;
    }

    .fa-bars {
        color: white;
        font-size: 30px;
        margin-top: 5px;
    }

    .mobile-btn{
        margin-right: 20px;
    }

    .header-body .buttons-block {
        width: auto;
    }

    .Repobank-wrapper .image img {
        width: 450px;
    }

    .roadmap .draggable {
        padding-left: 260px !important;
    }
}

@media (max-width: 768px) {

    .description-out-img p{
        text-align: left;
        font-size: 18px;
    }
    .text-p {
        display: none;
    }

    .solutions .image-block{
        display: none;
    }

    .solutions {
        display: flex;
        justify-content: space-between;
    }

        .title-row {
        flex-direction: column-reverse;
    }

    .Repobank-wrapper .image img {
        margin-top: 100px;
    }

    .text-h1 {
        margin-top: 0;
    }

    .text-h1-p{
        margin-left: 20px;
    }

    .text-h1-p{
        width: 100%;
        text-align: center;
    }

    .text-h1{
        text-align: center;
    }

    .text-h1-p {
        margin-left: 0;
    }

    .Repobank-wrapper .image img {
        width: 100%;
    }

    .text-h1 {
        font-size: 40px;
        line-height: 45px;
    }

    .title-row{
        justify-content: space-between;
    }

    .text-h1 {
        font-size: 36px;
    }

    




    .Launch-p {
        font-size: 26px;
        margin-right: 0;
    }

    .launch-video img{
        width: 70%;
    }

    .roadmap .draggable {
        padding-left: 60px !important;
    }
}

@media (max-width: 576px){
    .solutions {
        display: flex;
        flex-direction: column;
        align-items: space;
    }

    .accordion {
        width: 100%;
        margin-top: 30px;
    }

    .solutions {
        padding-top: 0;
    }

    .header-solution {
        font-size: 40px;
    }

    .text-solution {
        font-size: 20px;
    }

    /* our_vision_slider */
    .our_vision_slider .button_position {
        display: block;
    }

    .our_vision_slider .button_position .row {
        width: auto;
    }
    /* our_vision_slider end */
}

@media (max-width: 480px) {
    .text-h1 {
        font-size: 24px;
        line-height: 50px;
    }

    .roadmap_title {
        font-size: 18px;
    }

    .roadmap .slick-center h2 {
        font-size: 36px;
    }

    .roadmap_text{
        font-size: 15px;
        line-height: 1.4;
    }

    .Launch-p {
        font-size: 22px;
        margin-right: 0;
        position: relative;
        left: 20px;
    }

    .launch-video img{
        width: 50%;
    }

    .roadmap .draggable {
        padding-left: 45px !important;
    }

    .roadmap_slider {
        padding: 0 !important;
    }

    /* Instant_Crypto_Overdrafts */
    .Instant_Crypto_Overdrafts h2 {
        font-size: 40px !important;
    }

    .overdraft_panel .new_crypto_overdraft {
        top: 69%;
        padding: 15px 30px !important;
    }

    .overdraft_panel input {
        font-size: 24px !important;
    }
    /* Instant_Crypto_Overdrafts end */
}

.wrapper-download-button:hover {
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #165370, #2CA0C8);
}

@media (max-width: 1600px){
    .Instant_Crypto_Overdrafts .bank_items{
        font-size: 14px;
    }
}

@media (max-width: 1400px){
    .Instant_Crypto_Overdrafts .bank_items{
        font-size: 12px;
    }
}

@media (max-width: 1200px) {
    .whitepaper-info-text{
        padding-right: 60px;
    }

    .card .btn-link {
        font-size: 18px;
    }

    .solutions .image-block img{
        width: 100%;
    }

    .Instant_Crypto_Overdrafts .left_block, 
    .Instant_Crypto_Overdrafts .right_block{
        width: 100%;
    }

    .Instant_Crypto_Overdrafts .card_text{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .Instant_Crypto_Overdrafts .block_bg > div{
        border-radius: 30px;
    }

    .Instant_Crypto_Overdrafts .block_bg{
        margin-bottom: 25px;
    }


    .Instant_Crypto_Overdrafts .bank_transfer{
        padding-top: 40px;
    }

    .Instant_Crypto_Overdrafts .bank_items{
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .wrapper-block-whitepaper{
        padding: 0;
    }

    .wrapper-block{
        min-height: 750px;
    }

    .wrapper-block-transform{
        display: none;
    }

    .whitepaper-info-text{
        padding: 0;
        text-align: center!important;
        margin-bottom: 40px;
    }

    .wrapper-download-button, .wrapper-download-text{
        margin: 20px auto;
        float: unset;
    }
}
/* Section whitepaper end */

/* roadmap */
.roadmap{
    padding: 80px 0 80px;
    font-family: OpenSans-Regular;
    color: #182140;
}

#particles-js{
    width: 100%;
    height: 1105px;
    background-color: transparent;
    background-image: url('');
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    position: absolute;
}

.roadmap h2{
    text-transform: uppercase;
    color: #111111;
    padding-bottom: 40px;
    color: #182140;
    border-radius: 20px;
    font-size: 60px;
}

.roadmap .roadmap_slider h2{
    color: #fff;
    padding: 20px 0;
}

.roadmap_view_p{
    padding-bottom: 60px;
    line-height: 1.4;
    font-size: 24px;
}

.roadmap_slider .slick-slide {
    border-radius: 20px;
    background: linear-gradient(to bottom right, #fc4f44, #7e2822);
}

.roadmap .slick-slide{
    z-index: 3;
    position: relative;
    margin-top: 120px;
}


.roadmap .slick-slide:nth-child(4){
    z-index: 4;
}

.roadmap .slick-active{
    margin-top: 115px;
}

.roadmap .slick-active:hover, .roadmap .slick-active:focus, .roadmap .slick-active:active{
    outline: 0;
    outline-offset: 0;
}

.roadmap .roadmap_scroll, .roadmap .roadmap_title{
    display: none;
}

.roadmap .slick-center .roadmap_scroll, .roadmap .slick-center .roadmap_title{
    display: block;
}

.roadmap .slick-center{
    margin: 0;
    z-index: 5;
    background: #fff;
    box-shadow: 0 10px 15px 0 rgba(0,0,0,0.4);
    margin-bottom: 30px;
    margin-left: -40px;
}

.roadmap .slick-slide h2{
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    overflow: hidden;
    padding: 100px 0px 0;
    height: 495px;
    text-transform: initial;
    font-family: OpenSans-Bold;
}

.roadmap .slick-slide{
    position: relative;
    margin-right: -40px;
}




.roadmap .slick-center h2{
    background: linear-gradient(to bottom right, #fc4f44, #d34239);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 30px 0px;
    box-shadow: none;
    font-size: 50px;
    height: auto;
    font-family: OpenSans-Bold;
    white-space: nowrap;
}

.roadmap_title{
    font-weight: bold;
    padding-top: 35px;
    padding-bottom: 20px;
    font-size: 30px;
}

.roadmap_scroll{
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 60px;
    border-radius: 10px;
    margin-right: 15px;
}

.roadmap_scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(205, 22, 32,0.3);
    background-color: #fff;
    border-radius: 10px;
}

.roadmap_scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;

}

.roadmap_scroll::-webkit-scrollbar-thumb {
    background-color: #d8443a;
    border-radius: 10px;
}

.roadmap_text{
    padding: 0 10px 35px 30px;
    display: flex;
    height: 380px;
    text-align: left;
    font-size: 20px;
}

.roadmap .slick-arrow{
    display: none !important;
}

.roadmap .slick-dots li{
    margin: 0 5px;
}

.roadmap .slick-dots li button:before {
    line-height: 15px;
    width: 15px;
    height: 15px;
}

.roadmap .slick-dots li button:before{
    font-size: 12px;
    color: transparent;
    background: transparent !important;
    border-radius: 15px;
    border: 3px solid #fc4f44;
}

.roadmap .slick-dots li.slick-active button:before {
    background: #fc4f44 !important;
    color: #fc4f44;
}

.slick-slide .roadmap_number{
    display: block;
    position: absolute;
    margin-top: -200px;
    left: 15px;
    font-size: 190px;
    color: #E1E1E1;
    font-family: OpenSans-Bold;
    opacity: 0.5;
}

.slick-center .roadmap_number{
    opacity: 0.2;
    margin-top: -250px;
    left: 25px;
}

.right .roadmap_number{
    left: inherit;
    right: 15px;
}
/* roadmap end */

/* Section team */
.team {
    background-image: url("../images/bg-vision.png");
    background-size: 100% 100%;
    padding: 100px 0 150px 0;
}

.team h2{
    font-size: 60px;
    color: white;
    padding-bottom: 20px;
}

.team .team-subheading{
    font-size: 30px;
    color: white;
    margin-bottom: 60px;
}

.wrapper-team-slider{
    width:100%;
    height:100%;
}

.team-item{
    height: 650px;
    width:100%;
    background-color: white;
    border-radius: 18px;
    border-bottom: 8px solid grey;
}

.team-item-image{
    padding: 20px 20px 15px 20px;
    width:100%;
}

.team-item-image img{
    max-width: 100%;
    height:330px;
}

.team-item-info{
    border-bottom: 1px solid grey;
}

.team-item-name{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.team-item-position{
    font-size: 25px;
    margin-bottom: 15px;
}

.team-item-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:170px;
}

.team-item-social > a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width:50px;
    height:50px;
}

.modal-content .team-item-social > a{
    margin: 0 40px;
}

.team-item-social-block{
    width:52px;
    height:52px;
    background-color: red;
}

.team-item-social-facebook{
    width: 50px;
    height: 50px;
    background: url('../images/css_sprites.png') -3999px -782px;
}

.team-item-social-linked{
    width: 50px;
    height: 50px;
    background: url('../images/css_sprites.png') -3999px -852px;
}

.team-item-social-twitter{
    width: 50px;
    height: 50px;
    background: url('../images/css_sprites.png') -3999px -992px;
}

.team-item-social-skype{
    width: 50px;
    height: 50px;
    background: url('../images/css_sprites.png') -3999px -922px;
}

.modal-dialog{
    max-width:70% !important;
}

.modal-header, .modal-footer{
    border: none;
}

.modal-wrapper-team-item-info{
    height:100%;
}

.modal-team-item-info{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.close-button{
    position: absolute;
    top: 0;
    right: 10px;
}

.close-modal-button{
    font-size: 60px;
    color: black;
}

.modal-line{
    margin: 45px auto;
    width:255px;
    border: 1px solid #95989A;
}

.modal-content{
    padding: 30px 40px 30px 40px;
}

.modal-content .team-item-image{
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.modal-description p{
    font-size: 25px;
    color: #182140;
}

.modal-content .team-item-social{
    height: 90px;
    justify-content: center;
    margin: 0 40px;
}

.modal-content .team-item-social .team-item-social-block{
    margin-right: 40px;
}

.modal-content .team-item-social .team-item-social-block:last-child{
    margin-right: 0;
}

@media (max-width: 768px) {
    .team-item{
        margin-bottom: 80px;
    }

    .modal-content{
        padding: 40px 50px;
    }

    .modal-content .team-item-image{
        padding: 0 10%;
    }

    .team-item-image img{
        width:auto;
    }

    .modal-team-item-info{
        margin-top: 20px;
    }

    .modal-description p{
        text-align: center;
    }
}
/* Section team end */


/* footer */
.footer{
    /*height: 775px;*/
    background-color: #0C0C0C;
}

.footer-flex{
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position: relative;
}

.copyright, .design{
    position: absolute;
    bottom: 0;
    color: #9C9C9C;
    font-size: 20px;
    padding: 0 15%;
    margin-bottom: 40px;
}


.copyright{
    width:100%;
}

.design-link{
    color: #9C9C9C;
}

.design-link:hover {
    color: #9C9C9C;
    text-decoration: none;
}

.footer-phone{
    width:100%;
    position: relative;
}

.footer-about-company{
    font-family: OpenSans-Light;
    font-size: 30px;
    color: #FFFFFF;
    padding: 0 15%;
}

.footer-container-social{
    /*position: relative;*/
}

.footer-connect-text{
    padding-left: 90px;
    font-size: 30px;
    color: white;
    transform: rotate(270deg);
    width: 100%;

    position: relative;
    left: 0;
    bottom: -500px;
    top: auto;
}

.footer-connect-text p{
    white-space: nowrap;
    font-size: 45px;
}

.footer-wrapper{
    position: relative;
}

.footer-logo{
    position: absolute;
    width:540px;
    height:180px;
    margin-left: auto;
    margin-right: auto;
    top: -80px;
    left: 0;
    right: 0;
    display: table;
    background-color: #0C0C0C;
    border-radius: 45px;
}

.footer-logo-block{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

.footer-logo-text{
    color: #00C7AF;
    font-size: 70px;
    padding-left: 25px;
}

.footer-wrapper-social{
    /*height:90px;*/
    width:100%;
    margin-bottom: 40px;
}

.footer-social-item{
    display: flex;
    width:100%;
    height: 100%;
}

.social-item-facebook{
    width: 90px; height: 90px;
    background: url('../images/css_sprites.png') -3999px -782px;
}

.social-item-instagram{
    width: 90px; height: 90px;
    background: url('../images/css_sprites.png') -3630px -2540px;
}

.social-item-twitter{
    width: 90px; height: 90px;
    background: url('../images/css_sprites.png') -3999px -1062px;
}

.social-item-google{
    width: 90px; height: 90px;
    background: url('../images/css_sprites.png') -3870px -2420px;
}


.footer-social-item-image{
    float: left;
    margin-right: 30px;
    /*width:50px;*/
    /*height:50px;*/
}

.footer-social-item-link{
    color: #FFFFFF;
    font-size: 40px;
    float: left;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    /*width: 50px;*/
    /*height: 50px;*/
}

.footer-phone{
    width:100%;
}

.footer-phone img{
    width: 100%;
    position: relative;
    height:100%;
}

.footer-phone-button{
    position: absolute;
    bottom: 100px;
    display: flex;
    width:100%;
    flex-direction: row;
    justify-content: center;
}

.phone-button{
    font-size: 26px;
    color: #FFFFFF;
    padding: 23px 40px;
    display: block;
    width:340px;
    height:85px;
    background-color: rgb(44, 160, 200);
    border-radius: 43px;
    /*line-height: 20px;*/
}

.phone-button:hover{
    text-decoration: none;
    color: #FFFFFF;
}

.phone-button svg{
    font-size: 38px;
    margin-left: 20px;
    line-height: 20px;
}

.copyright-hiden{
    display: none;
}
/* footer end */

@media (max-width: 1200px){
    .Instant_Crypto_Overdrafts .modal .modal-footer button{
        width: 25%;
    }

    .overdraft_panel input {
        padding: 12px 50px 12px 50px;
    }

    .Instant_Crypto_Overdrafts .modal_3 .modal-footer button {
        width: 75%;
    }

    .overdraft_panel .new_crypto_overdraft {
        top: 77px;
    }

    .our_vision_slider_panel .slick-slide{
        height: 525px;
    }

    .our_vision_slider_panel .slick-center{
        height: 625px;
    }

    .footer-logo{
        top: -120px;
    }

    .footer-social-item-link{
        font-size: 30px;
    }

    .footer-phone-button{
        margin: 0;
        bottom: 60px;
    }

    .phone-button{
        width:100%;
        border-radius: 0;
        font-size: 26px;
        padding: 20px 20px;
    }
}

@media (max-width: 992px) {
    .Instant_Crypto_Overdrafts .modal_3 .modal-footer button {
        width: 80%;
    }

    .block_bg_right_img .bank_items_1 p:last-child {
        border: none;
    }

    .block_bg_right_img .bank_items_2 p {
         border: none;
    }

    .Instant_Crypto_Overdrafts .bot_line, 
    .Instant_Crypto_Overdrafts .top_line{
        display: none;
    }

    .Instant_Crypto_Overdrafts .icon_items img{
        width: 100%;
    }

    .Instant_Crypto_Overdrafts .icon_items p{
        font-size: 18px;
    }

    .overdraft_panel .new_crypto_overdraft{
        top: 77px;
        left: 465px;
    }

    .button_position h3{
        font-size: 30px;
    }

    .our_vision_slider .button_position button{
        padding: 18px 50px;
    }

    .button_position h3{
        padding-bottom: 25px;
    }

    .menu-list{
        flex-direction: column;
        position: relative;
        margin-top: 60px;
    }

    .text-h1-p{
        margin-left: 50px;
    }

    .text-h1 {
        font-size: 45px;
    }

    .text-p{
        font-size: 20px;
    }

    .mobile-btn{
        display: block;
    }

    .menu-list .menu-item .link{
        margin: 0;
        font-size: 24px;
    }

    .header-body .menu-part {
        width: auto;
    }

    .header-body{
        justify-content: center;
    }

    .menu-item{
        padding: 10px;
        padding-left: 0;
    }

    .hider{
        display: none;
    }

    .header-body .menu-part {
        width: 0;
    }

    .fa-bars {
        color: white;
        font-size: 30px;
        margin-top: 5px;
    }

    .mobile-btn{
        margin-right: 20px;
    }

    .header-body .buttons-block {
        width: auto;
    }

    .footer-about-company{
        margin: 100px 0;
        text-align: center;
    }

    .copyright{
        display: none;
    }

    .copyright-hiden, .design{
        display: block;
        position: unset;
        text-align: center;
        margin: 0;
        padding: 20px 0;
    }
}

@media (max-width: 768px) {
    .modal_3 .btn-secondary{
        margin-bottom: 20px;
    }

    .modal_3 .flex_center{
        margin-left: 0;
    }

    .Instant_Crypto_Overdrafts .modal .modal-body, 
    .Instant_Crypto_Overdrafts .modal .modal-footer {
        padding-right: 15px;
        padding-left: 15px;
    }

    .modal_3 .modal-body > .row{
        padding-left: 15px;
    }

    .Instant_Crypto_Overdrafts .block_bg .left_block_title_2{
        border: none;
    }

    .Instant_Crypto_Overdrafts .div_img{
        display: none;
    }

     .overdraft_panel .new_crypto_overdraft{
        top: 77px;
        left: 382px;
    }

    .roadmap_view_p{
        font-size: 20px;
    }

    .Instant_Crypto_Overdrafts .icon_items img{
        height: 150px;
        width: auto;
     }   

    .text-p {
        display: none;
    }

    .text-h1 {
        font-size: 40px;
        line-height: 100px;
    }


    .Launch-p {
        font-size: 26px;
        margin-right: 0;
    }

    .launch-video img{
        width: 70%;
    }

    .footer-logo{
        width:400px;

    }

    .footer-logo-text{
        font-size: 50px;
    }

    .footer-about-company{
        padding: 0 20%;
    }

    .footer-phone{
        margin-top: 70px;
        padding: 0 20%;
    }
}

@media (max-width: 576px) {
    .roadmap_view_p{
        font-size: 18px;
    }

    .footer-connect-text{
        display: none;
    }

    .footer-social-item{
        align-items: center;
        justify-content: center;
    }

    .roadmap h2{
        font-size: 48px;
    }

    .our_vision_slider .button_position button{
        padding: 13px 30px;
        font-size: 16px;
    }

    .button_position h3{
        font-size: 24px;
    }

    .our_vision_slider .text_signature{
        font-size: 18px;
    }

    .our_vision_slider .text_head{
        font-size: 20px;
    }

    .our_vision_slider h2{
        font-size: 48px;
    }

    .our_vision_slider .container > p{
        font-size: 18px;
    }

    .overdraft_panel input{
        width: 100%;
        font-size: 30px;
    }

    .overdraft_panel .new_crypto_overdraft{
        top: 71%;
        left: auto;
        font-size: 20px;
        padding: 18px 35px;
        right: 4%;
    }

    .overdraft_panel h2{
        font-size: 30px;
    }

    .Instant_Crypto_Overdrafts h2{
        font-size: 48px;
    }

    .Instant_Crypto_Overdrafts .description-p p{
        font-size: 18px;
    }

   .Instant_Crypto_Overdrafts .modal.fade .modal-dialog{
        max-width: 95% !important;
    }
}

@media (max-width: 540px) {
    .footer-phone-button{
        bottom: 40px;
    }

    .phone-button{
        height: 60px;
        font-size: 22px;
        padding: 15px ;
    }

    .phone-button svg{
        font-size: 24px;
        margin: 0;
    }
}

@media (max-width: 480px) {
     /* our_vision_slider */
    .our_vision_slider h2 {
        font-size: 40px;
    }

    .our_vision_slider_panel .slick-center .text_signature {
        font-size: 16px;
        height: auto;
    }

    .our_vision_slider_panel .slick-center, 
    .our_vision_slider_panel .slick-slide{
        height: auto;
        padding: 50px 18px 45px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 0;
    }
    /* our_vision_slider end */

    .Instant_Crypto_Overdrafts .div_overdrafts_total {
        padding-left: 15px;
    }

    .Instant_Crypto_Overdrafts .img_item > p {
        padding-bottom: 15px;
    }

    .Instant_Crypto_Overdrafts .span_i {
        padding: 10px 0;
    }

    .Instant_Crypto_Overdrafts .modal h3 {
        padding-top: 15px;
    }
    
    .text-h1 {
        font-size: 24px;
        line-height: 50px;
    }

    .text-h1-p{
        margin-left: 20px;
    }

    .Launch-p {
        font-size: 22px;
        margin-right: 0;
        position: relative;
        left: 20px;
    }

    .launch-video img{
        width: 50%;
    }

    .footer-logo{
        width:300px;
        top: -80px;
    }

    .footer-logo-text{
        display: none;
    }
}

@media (max-width: 480px) {
    .footer-phone-button{
        bottom: 20px;
        color: #ffffff;
    }

    .phone-button span{
        display: none;
    }

    .team-item-image img{
        width:100%;
        height:280px;
    }
}

@media (max-width: 400px) {
    .overdraft_panel .new_crypto_overdraft{
        top: 71%;
        margin-right: 2px;
    }
}

@media (max-width: 382px){
    .overdraft_panel .new_crypto_overdraft {
        top: 77%;
    }
}