
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Segoue; /* Имя шрифта */
    src: url(../fonts/Segoe_Bold.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSans-Bold; /* Имя шрифта */
    src: url(../fonts/OpenSans-Bold.ttf); /* Путь к файлу со шрифтом */

}

@font-face {
    font-family: OpenSans-Regular; /* font-family: OpenSans-Regular; Имя шрифта */
    src: url(../fonts/OpenSans-Regular.ttf); /* Путь к файлу со шрифтом */
}

@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/OpenSans-Light.ttf);
}

.header-wrapper{
    background: black;
    border-bottom: 2px solid white;
    width: 100%;
    position: fixed;
    z-index: 4;
}

.header-body  .menu-part{
    width: 83%;
}

.bg-first_1001 {
    width: 1000px; height: 700px;
    background: url('../images/css_sprites.png') -10px -2630px;
}


.bg-second_1001 {
    width: 1000px; height: 700px;
    background: url('../images/css_sprites.png') -1950px -1530px;
}
.bg-XuNHbjD1 {
    width: 530px; height: 659px;
    background: url('../images/css_sprites.png') -2970px -1530px;
}
.header-body  .buttons-block{
    width: 17%;
}

.launch-video{
    display: flex;
    align-items: center;
    margin-right: 35px;
    justify-content: flex-end;
    position: absolute;
    bottom: 30px;
    right: 0;
}

.header-body{
    display: flex;
    font-family: OpenSans-Regular;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.buttons-block{
    text-align: right;
}

.menu-list .menu-item .link{
    font-size: 25px;
    color: white;
    margin-left: 80px;
    padding: 2px 8px;
    text-decoration: none;
}

.menu-list .menu-item .link:hover{
    box-shadow: 0px 0px 0px 2px white;
    border-radius: 10px;

}

.menu-list .menu-item:first-child .link{
    margin-left: 0;
}

.mobile-btn{
    display: none;
}

.menu-part{
    text-align: center;
}

.mobile-btn{
    cursor: pointer;
}

.menu-list{
    display: flex;
    align-items: center;
    height: 100%;
}

.btn-join {
    color: #007DB9;
    background: white;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    border: 2px solid #007DB9;
    padding: 12px 20px 15px 20px;
}

.btn-join, .btn-login {
    font-family: OpenSans-Regular;
    font-size: 25px;
}

.join-p {
    margin-top: 10px;
}

.btn-login {
    border: 2px solid black;
    background: #A6FF4D;
    color: #95989A;
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    padding: 12px 20px 15px 20px;
    margin-left: 30px;
    border: 2px solid #4F7B23;
}

.top-menu {
    background: black;
}

.Join-now {
    background: #FFFFFF;
}

.Login {
    color: #A6FF4D;
}

.Repobank-wrapper {

    background-image: url("../images/repo bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
}

.text-h1-p{
    color:white;
    margin-left: 180px;
    text-align: left;
}

.text-h1 {
     font-size: 80px;
     font-family: OpenSans-Bold;
     margin-top: 300px;
     text-align: left;
 }

.text-p{
    font-size: 80px;
    font-family: OpenSans-Bold;
    margin-top: 40px;
}

.Launch-p {
    font-size: 40px;
    color:white;
    margin-right: 20px;
}

.h2-text, .description-p {
    text-align: center;
}

.Macbook {
    width: 100%;
    height: 100%;
}

.all-items {

    display: flex;
}

.subscribe {
    background: #F4F4F4;
    width: 100%;
    height: 100%;
}

.icon-items:hover {
    background: white;
    opacity: 0.7;
    -webkit-transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -o-transform: scale(1.2, 1.2);
    -ms-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
}

.h2-choose {
    text-align: center;
}

/* foma subs */

section {
    text-align: center;
}

select.frecuency {
    border: none;
    font-style: italic;
    background-color: transparent;
    cursor: pointer;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
    border-bottom: none;
}

select.frecuency:focus {
    outline: none;
    border-bottom: 5px solid #39b3d7;
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    -webkit-transition: -webkit-transform .35s ease-in;
    transition: -webkit-transform .35s ease-in;
}

.free {
    text-transform: uppercase;
}

.input-group {
    margin: 20px auto;
    width: 100%;
}

input.btn.btn-lg,
input.btn.btn-lg:focus {
    outline: none;
    width: 60%;
    height: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

button.btn {
    width: 30%;
    height: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.promise {
    color: #999;
}

.btn-info {
    background: black;
    border-radius: 20px;
}

.btn-group-lg > .btn, .btn-lg {
    border-radius: 20px;
}

button .btn, button .btn-lg {
    border-radius: 20px;
}

.next-btn {
    border-radius: 20px;
}

/* foma subs */

/* section our vision */

.h2-vision {
    color: white;

}

.Our-vision h2{
    font-size: 60px;
    font-family: OpenSans-Regular;

   padding-top: 90px;
}

.h2-vision p {
    font-family: OpenSans-Light;
    font-size: 30px;

    margin-top: 45px;
}


.h2-vision h2 {
    font-size: 60px;
    font-family: OpenSans-Regular;
}

.Our-vision {
    background: url("../images/bg-vision.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}



.description-out-img{
    margin-top: 100px;
}
.description-out-img p {
    font-size: 26px;
    font-family: OpenSans-Regular;
    color: white;
    line-height: 45px;
    padding-left: 10%;
    text-align: center;
}


.img-girl-phone img {
    width: 50%;
}

/* section our vision */

.Business-model {
    width: 100%;
    min-height: 1000px;
}

.btn-download {
    margin-bottom: 40px;
    border-radius: 50px;
    background: rgba(44, 165, 224, 1);
    background: -moz-linear-gradient(left, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(44, 165, 224, 1)), color-stop(5%, rgba(44, 165, 224, 1)), color-stop(19%, rgba(41, 155, 210, 1)), color-stop(48%, rgba(35, 133, 180, 1)), color-stop(100%, rgba(22, 83, 112, 1)));
    background: -webkit-linear-gradient(left, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    background: -o-linear-gradient(left, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    background: -ms-linear-gradient(left, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    background: linear-gradient(to right, rgba(44, 165, 224, 1) 0%, rgba(44, 165, 224, 1) 5%, rgba(41, 155, 210, 1) 19%, rgba(35, 133, 180, 1) 48%, rgba(22, 83, 112, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2ca5e0', endColorstr='#165370', GradientType=1)
}
/*   Business model      */

.Business-model h2{
    font-family: OpenSans-Regular;
    font-size: 60px;
    margin-top: 90px;
}
.Business-model .dont {
    font-family: OpenSans-Light;
    font-size: 30px;
    color:#95989A;
    margin-top: 45px;
}
.GET-BM {
    font-family: OpenSans-Regular;
    font-size: 35px;
    font-weight: Bold;
    margin-top: 30px;
    margin-bottom: 40px;
}

.load {
    font-family: OpenSans-Regular;
    font-size: 50px;
    margin-top: 25px;
    display: block;
    color: white;
    height: 80px;
}
/* business model */


/* Credit card*/
.Credit-card{
    min-height: 1200px;
    background: black;
}
.Credit-card h2{
    font-family: OpenSans-Regular;
    font-size: 60px;
    color: white;
    margin-top: 90px;
}

.text-card p{
    font-family: OpenSans-Light;
    font-size: 30px;
    color: white;
    margin-top: 45px;
}


/* Credit card*/


/* Section whitepaper */
.whitepaper {
    background-image: url("../images/bg-vision.png");
    background-size: 100% 100%;
}

.wrapper-headings {
    padding: 60px 0;
}

.whitepaper h2 {
    font-size: 60px;
    color: #FFFFFF;
    line-height: 82px;
}

.whitepaper h5 {
    font-size: 30px;
    color: #FFFFFF;
    line-height: 41px;
}

.wrapper-block-whitepaper {
    padding: 0 10%;
}

.wrapper-block {
    padding: 0 70px 56px 70px;
    background-color: #FFFFFF;
    border: 3px solid #FFFFFF;
    height: 600px;
    border-radius: 10px;
}

.wrapper-image{
    padding: 20px 0 20px 0;
}

.wrapper-image img {
    width: 100%;
    height: 370px;
}

.whitepaper-info {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 30px;
    color: #182140;
}

.wrapper-block-transform {
    position: absolute;
    top: 0;
    right: -50px;
    height: 300px;
    width: 88px;
    background-color: #2CA0C8;
    border-radius: 0 0 43px 43px;
}

.wrapper-block-transform p{
    padding-left: 90px;
    font-size: 30px;
    color: white;
    /* Safari */
    -webkit-transform: rotate(90deg);
    /* Firefox */
    -moz-transform: rotate(90deg);
    /* IE */
    -ms-transform: rotate(90deg);
    /* Opera */
    -o-transform: rotate(90deg);
    /* Internet Explorer */
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.whitepaper-info .whitepaper-info-text {
    text-align: left;
}

.bold {
    font-weight: bold;
}

.wrapper-download-block{
    border-top: 2px solid #182140;
    padding-top: 60px;
}

.wrapper-download-text{
    float: left;
    font-size: 30px;
}

.wrapper-download-button{
    float: right;
    padding: 10px 40px;
    border-radius: 20px;
    background: linear-gradient(to right, #2CA0C8, #165370);
    color: white;
}

@media (max-width: 1700px){

    .menu-list .menu-item .link{
        font-size: 22px;
        color: white;
        margin-left: 50px;
    }

    .btn-join, .btn-login {
        font-size: 20px;
        text-decoration: none;
    }

    .btn-join:hover, .btn-login:hover{
        text-decoration: none;
    }

    .btn-login:hover{
        color: #535455;
    }

    .btn-login {
        margin-left: 15px;
    }

    .header-body  .menu-part{
        width: 80%;
    }

    .header-body  .buttons-block{
        width: 20%;
    }

    .text-h1 {
        font-size: 65px;
    }

    .text-p{
        font-size: 22px;
    }
}

@media (max-width: 1500px){

    .menu-list .menu-item .link{
        font-size: 20px;
        color: white;
        margin-left: 50px;
    }

    .btn-login {
        margin-left: 15px;
    }
}

@media (max-width: 1400px){

    .menu-list .menu-item .link{
        font-size: 19px;
        color: white;
        margin-left: 40px;
    }

    .btn-login {
        margin-left: 15px;
    }
}

@media (max-width: 1300px){

    .menu-list .menu-item .link{
        font-size: 18px;
        color: white;
        margin-left: 30px;
    }

    .text-h1 {
        margin-top: 250px;
    }

    .btn-join, .btn-login {
        font-size: 16px;
        padding: 8px 15px 10px 15px;
    }

    .btn-login {
        margin-left: 15px;
    }

    .text-h1-p{
        margin-left: 100px;
    }

    .Launch-p {
        font-size: 30px;
    }

    .launch-video img{
        width: 80%;
    }
}

@media (max-width: 1050px){
    .header-body {
        padding-left: 30px;
        padding-right: 30px;
    }

    .text-h1-p{
        margin-left: 80px;
    }

    .menu-list .menu-item .link {
        margin-left: 16px;
        font-size: 16px;
    }

    .header-body  .menu-part{
        width: 78%;
    }

    .header-body  .buttons-block{
        width: 22%;
    }

    .fa-bars{
        color: white;
        font-size: 30px;
    }
}

@media (max-width: 992px) {
    .menu-list{
        flex-direction: column;
        position: relative;
        margin-top: 60px;
    }

    .text-h1-p{
        margin-left: 50px;
    }

    .text-h1 {
        font-size: 45px;
    }

    .text-p{
        font-size: 20px;
    }

    .mobile-btn{
        display: block;
    }

    .menu-list .menu-item .link{
        margin: 0;
        font-size: 24px;
    }

    .header-body .menu-part {
        width: auto;
    }

    .header-body{
        justify-content: center;
    }

    .menu-item{
        padding: 10px;
        padding-left: 0;
    }

    .hider{
        display: none;
    }

    .header-body .menu-part {
        width: 0;
    }

    .fa-bars {
        color: white;
        font-size: 30px;
        margin-top: 5px;
    }

    .mobile-btn{
        margin-right: 20px;
    }

    .header-body .buttons-block {
        width: auto;
    }
}

@media (max-width: 768px) {
    .text-p {
        display: none;
    }

    .text-h1 {
        font-size: 40px;
        line-height: 100px;
    }


    .Launch-p {
        font-size: 26px;
        margin-right: 0;
    }

    .launch-video img{
        width: 70%;
    }
}

@media (max-width: 480px) {
    .text-h1 {
        font-size: 24px;
        line-height: 50px;
    }

    .text-h1-p{
        margin-left: 20px;
    }

    .Launch-p {
        font-size: 22px;
        margin-right: 0;
        position: relative;
        left: 20px;
    }

    .launch-video img{
        width: 50%;
    }
}

.wrapper-download-button:hover {
    color: white;
    text-decoration: none;
    background: linear-gradient(to right, #165370, #2CA0C8);
}

@media (max-width: 1200px) {
    .whitepaper-info-text{
        padding-right: 60px;
    }
}

@media (max-width: 768px) {
    .wrapper-block-whitepaper{
        padding: 0;
    }

    .wrapper-block{
        min-height: 750px;
    }

    .wrapper-block-transform{
        display: none;
    }

    .whitepaper-info-text{
        padding: 0;
        text-align: center!important;
        margin-bottom: 40px;
    }

    .wrapper-download-button, .wrapper-download-text{
        margin: 20px auto;
        float: unset;
    }
}
/* Section whitepaper end */

/* roadmap */
.roadmap{
    padding: 80px 0 80px;
}

.roadmap h2{
    text-transform: uppercase;
    color: #111111;
    padding-bottom: 45px;
    font-weight: bold;
    color: #000;
    border-radius: 20px;
}

.roadmap .roadmap_slider h2{
    color: #fff;
    padding: 20px 0;
}

.roadmap_view_p{
    padding-bottom: 60px;
    line-height: 1.4;
    font-size: 18px;
}

.roadmap_slider .slick-slide {
    border-radius: 20px;
    background: linear-gradient(to bottom right, #fc4f44, #7e2822);
}

.roadmap .slick-slide{
    z-index: 3;
    position: relative;
    margin-top: 110px;
}

.roadmap .slick-active{
    margin-top: 78px;
}

.roadmap .slick-active:hover, .roadmap .slick-active:focus, .roadmap .slick-active:active{
    outline: 0;
    outline-offset: 0;
}

.roadmap .roadmap_scroll, .roadmap .roadmap_title{
    display: none;
}

.roadmap .slick-center .roadmap_scroll, .roadmap .slick-center .roadmap_title{
    display: block;
}

.roadmap .slick-center{
    margin: 0;
    z-index: 5;
    background: #fff;
    box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
    margin-bottom: 30px;
}

.roadmap .slick-slide h2{
    padding: 118px 0 240px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.roadmap .slick-center h2{
    background: linear-gradient(to bottom right, #fc4f44, #7e2822);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    padding: 20px 0;
    box-shadow: none;
}

.roadmap_title{
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 22px;
    font-size: 20px;
}

.roadmap_scroll{
    overflow: scroll;
    overflow-x: hidden;
    margin-bottom: 45px;
    border-radius: 10px;
    margin-right: 15px;
}

.roadmap_scroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(205, 22, 32,0.3);
    background-color: #fff;
    border-radius: 10px;
}

.roadmap_scroll::-webkit-scrollbar {
    width: 10px;
    background-color: #F5F5F5;

}

.roadmap_scroll::-webkit-scrollbar-thumb {
    background-color: #d8443a;
    border-radius: 10px;
}

.roadmap_text{
    padding: 0 10px 35px 30px;
    display: flex;
    height: 280px;
    text-align: left;
}

.roadmap .slick-arrow{
    display: none !important;
}

.roadmap .slick-dots li{
    margin: 0 5px;
}

.roadmap .slick-dots li button:before{
    font-size: 12px;
    color: #fc4f44;
}

.roadmap .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #fc4f44;
}
/* roadmap end */

/* Section team */
.team {
    background-image: url("../images/bg-vision.png");
    background-size: 100% 100%;
    padding: 100px 0 150px 0;
}

.team h2{
    font-size: 60px;
    color: white;
    padding-bottom: 20px;
}

.team .team-subheading{
    font-size: 30px;
    color: white;
    margin-bottom: 60px;
}

.wrapper-team-slider{
    width:100%;
    height:100%;
}

.team-item{
    height: 650px;
    width:100%;
    background-color: white;
    border-radius: 18px;
    border-bottom: 8px solid grey;
}

.team-item-image{
    padding: 20px 20px 15px 20px;
    width:100%;
}

.team-item-image img{
    width:100%;
    height:330px;
}

.team-item-info{
    border-bottom: 1px solid grey;
}

.team-item-name{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}

.team-item-position{
    font-size: 25px;
    margin-bottom: 15px;
}

.team-item-social{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height:170px;
}

.team-item-social-block{
    width:52px;
    height:52px;
    background-color: red;
}
/* Section team end */


